:root {
    --dark-blue: #0C1F2C;
    --light-blue: #23B4F5; 
    --bg-gray: #F1F4F7;
    --text-gray: #DADDDF;

    --shadow-one: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

p {
    margin: 0;
    font-family: Montserrat;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;

   background-color: var(--bg-gray);
}

#navbar {
    position: relative;

    margin-right: 10px;
    width: 250px;
    height: 340px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--dark-blue);
}

.dark {
    width: 100%;

    background-color: var(--dark-blue);
}

#navbar > .intro {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    text-align: center;
    justify-content: center;

    height: 50px;
}

#navbar > .intro > .tint {
    position: absolute;
    height: 3px;
    width: 130px;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    background-color: var(--light-blue);
}

.name {
    font-size: 18px;
    color: var(--text-gray);

    line-height: 50px;
    margin: 0;

    justify-self: flex-start;
}

.navbody {
    display: flex;
    flex-direction: column;
    flex: 1;

    width: 100%;

    padding-bottom: 10px;
}

.section {
    background-color: var(--dark-blue);

    display: flex;
    align-items: center;

    height: 30px;

    margin: 10px 10px 0 10px;
    padding: 10px;
    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s;
}

.section > .circle {
    width: 14px;
    height: 14px;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 15px 0 10px;

    background: rgba(218, 221, 223, 0.2);
}

.circle > .inner {
    opacity: 0;
    background-color: var(--light-blue);

    transition: opacity 0.3s;

    width: 6px;
    height: 6px;

    border-radius: 3px;
}

.section.active > .circle,
.section:hover > .circle {
    box-shadow: var(--shadow-one);
}

.section.active > .circle > .inner,
.section:hover > .circle > .inner {
    opacity: 1;
}

.section .info {
    flex: 1;
}

.section .title {
    font-size: 15px;
    color: #DADDDF;
    opacity: .9;

    transition: opacity 0.3s;
}

.section.active .title,
.section:hover .title {
    opacity: 1;
}

.section .desc {
    line-height: 10px;
    font-size: 11px;
    font-weight: 300;
    color: #23B4F5;
    opacity: .7;

    transition: opacity 0.3s;
}

.section.active .desc,
.section:hover .desc {
    opacity: 1;
}

.section.active > .right-arrow,
.section:hover > .right-arrow {
    border-color: #23B4F5;
    opacity: .8;
}

.footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    height: 40px;
}

#greet {
    width: 500px;
    height: 340px;
    border-radius: 5px;

    position: relative;

    overflow-wrap: normal;

    background-color: #fff;
}

#greet > .intro {
    width: 470px;

    margin: 15px;

    position: absolute;
}

#greet > .intro > p {
    font-size: 14px;
    color: var(--dark-blue);
} 

#thoughts {
    width: 500px;
    height: 340px;
    border-radius: 5px;
}

#notes {
    width: 500px;
    height: 340px;
    border-radius: 5px;
}

#projects {
    width: 500px;
    height: 340px;
    border-radius: 5px;
}

body > .content {
    overflow: hidden;
    visibility: visible;

    display: flex;

    transition: width 1s, visibility 1s, border-width 0.2s;
}

body > .content.inactive {
    width: 0 !important;
    visibility: hidden;
}

body >.content.off {
    border: none !important;
}

.right-arrow {
    width: 3px;
    height: 3px;
    margin-right: 10px;

    opacity: .2;

    border: solid;
    border-color: #DADDDF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    transform: rotate(-45deg);
    transition: border-color 0.3s, opacity 0.3s;
}
